<!-- about.html -->

{% extends "layout.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
    <h2>About Us</h2>
    <p>This is a simple Flask app that generates and archives random memes. This web app is purely for intertainment and eductional purposes only.
        The web developer of this app cannot be held resposible for any damages caused as a result of the content generated throught this app as we're
        not in control of the content. 
        Credit is given when the original subreddit owner is known and evverthing is generated dynamically via API code. If you feel 
        no credit was given properly original subreddit owner can contact us for a proper credit request.
    </p>
   
{% endblock %}
